body {
    background: black;
}
h1 {
    color: green;
}

.heading{
    width: 500px;
    background: black;
    color: white;
    border: 2px solid green;
    box-shadow: 5px 5px 20px green;
    border-color: green;
    border-radius: 20px;
    margin: 50px auto;
    text-align: center;
}

.heading .img img{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    box-shadow: 0 0  20px green;
    border-radius: 50%;
    object-fit:cover;

}
.heading p {
    vertical-align: auto;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}